# ========================
# PYTHON / DJANGO
# ========================
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# ========================
# ENVIRONMENT
# ========================
.env
.env.*
env/
env311/
venv/
.venv/

# ========================
# NODE / REACT
# ========================
node_modules/
build/
dist/

# ========================
# ML FILES
# ========================
ml/model/
ml/saved_model/
ml/results/
ml/dataset/

# ========================
# NOTEBOOK
# ========================
.ipynb_checkpoints/

# ========================
# EDITOR
# ========================
.vscode/
.idea/
*.swp

# ========================
# LOG FILES
# ========================
*.log

# ========================
# TEST / COVERAGE
# ========================
.coverage
htmlcov/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# PYTHON PACKAGE
# ========================
*.egg-info/
.vercel
.env*
